.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* THE MAIN FIX */
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.45);
}


.contentWrapper {
  position: relative;
  z-index: 3;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  color: #e5dfd6;
}

.mainHeading {
  font-size: 90px;
  line-height: 1.1;
  font-family: "Times New Roman", serif;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.description {
  font-size: 22px;
  line-height: 1.6;
  color: #e6dfd3;
  margin-bottom: 40px;
}

.visitBtn {
  padding: 12px 40px;
  border: 1px solid #c9c2b6;
  background: transparent;
  color: #e5dfd6;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

/* Button Hover Premium Animation */
.visitBtn:hover {
  border-color: #ffffff;
  background: rgba(255, 255, 255, 0.12);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

/* Arrow Animation */
.arrow {
  font-size: 24px;
  display: inline-block;
  transition: transform 0.35s ease;
}

.visitBtn:hover .arrow {
  transform: translateX(6px) rotate(10deg);
}

.visitBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.15),
    transparent
  );
  transition: 0.6s;
}

.visitBtn:hover::before {
  left: 100%;
}
